body {
  padding: 10px;
  background-color: #c3d3d2;
  font-family: 'Roboto Mono', serif;
}

h1, h2 {
  text-align: center;
  color: #AFADAD;
  margin-bottom: 9px;

}
#board{
  margin: 0 auto;
}

#board td{
  border: 1px solid #c3d3d2;
  width: 9px;
  height: 9px;
}

td.reproducing {
  background-color: #2d363d;
}

td.lonely {
  background-color: #7f97a1;
}

td.dead {
  background-color: #10b3d2;
}

td.dirt {
  background-color: #c3d3d2
}

#control_panel {
  margin: 10px auto;
  text-align: center;
}

.btn {
  border-radius: 0;
}

p {
  margin-top: 9px;
  text-align: center;
  color: #AFADAD
}